
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    background-color: #fff;
    font-size: 12px;
    margin: 0;
}



h1 {
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #7693a9;
    text-align: center;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.link {
    font-size: 1rem;
}
